p {
  margin: 0
}

#background2 {
  margin-top: 40px;
  background-image: url('images/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

#proPic {
  height: 45vh;
  /* background-color: aqua; */
  width: 45vh;
  background-image: url('images/pro.jpg');
  background-size: cover;
  border-radius: 100px 0px;
  box-shadow: 20px 20px #b3b3b3;
}

#sidePic {
  /* background-color: aqua; */
  width: 220px;
  height: 350px;
  background-image: url('images/pic.jpg');
  background-size: cover;
  /* border-radius: 10px 10px 100px 100px; */
  box-shadow: 0px 0px 20px #b3b3b3;
  /* margin-top: 60px; */
  margin: 0px 150px;
}